/* removing default spacing to elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html */
html{
    height: 100%;
}

/* logo and heading */
.logo-container {
    max-width: 290px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 13px;
    height: 64px;
}


.logo {
    height: 60px;
    width: auto;
    object-fit: contain;
    flex-shrink: 0;
    display: block;
    border-radius: 18px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    font-weight: 600;

}

/* Font for the whole page */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 90%;
}

/* formularbar */
#formulabar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* cell label */
#celllabel {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 4px 10px;
    font-weight: bold;
    min-width: 40px;
    text-align: center;
}

/* formular input */
#formulainput {
    flex: 1;
    height: 25px;
    border: 1px solid #ccc;
    padding: 0 8px;
    font-size: 14px;
}


/* the container div, adds scroll bar if the grid get too big for the screen */
#sheetgrid {
    overflow: auto;
    height: 100%;
}

/* avoiding gaps between table cells and their borders */
table {
    border-collapse: collapse;
    width: 100%;
    height:100%;
}

/* targeting header and data celss */
th, td {
    border: 1px solid #ccc;
    width: auto;
    height: 25px;
    text-align: center;
    font-size: 14px;
}

/* column letters and row numbers */
th {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* data cells */
td {
    background-color: white;
}

/* selecting a table */
td.selected {
    background-color: #f1f2f4;
    outline: 2px solid #35ee1d;
}

/* making errors red */
.cell-error {
    color: red;
    font-weight: bold;
}
